<head>
  <link rel="stylesheet" type="text/css" href="static/login1.css">
  </head>
  <script src="static/login2.js"></script>
<div class="login-page">
    <div class="form">
      
      <form class="login-form" method="post">
          <h3>Enter Credentials Below</h3>
         
        <input type="text" placeholder="username" name="username"/>
        <input type="password" placeholder="password" name = "password"/>
        <button>login</button>
        <p class="message"> {{ error }}</p>
      </form>
    </div>
  </div>